{% extends 'base.html.twig' %}

{% block title %}N°{{ chapitre.number }} - {{ chapitre.title }}{% endblock %}

{% block body %}
    <div class="border-head" style="margin:auto; width: 70%">
        <a style="margin-top:20px;" class="btn btn-info" href="{{ path('personnages_index', {'idProjet': projet.id}) }}"><i class="fa fa-chevron-left"></i>Revenir aux personnages</a>
        <h2 style="margin-bottom:30px;">Chapitre n°{{ chapitre.number }} : {{ chapitre.title }}</h2>
        <h4>Contexte temporel : {{ chapitre.dateContexte }}</h4>
    </div>
<div class="formulaire container" style="margin:auto; width: 70%">
    <h4>Résumé du chapitre :</h4>
    <p>{{ chapitre.resume|raw }}</p>
    <br/>
    <hr/>
    <h4>Intrigue Principal</h4>
    <p>{{ chapitre.intriguePrincipale }}</p>
    <br/>
    <hr/>
    <h4>Intrigue Principal</h4>
    <p>{{ chapitre.intrigureSecondaire }}</p>
    <br/>
    <hr/>
    <h4>Révélation sur le personnage</h4>
    <p>{{ chapitre.characterRevel }}</p>
    <br/>
    <hr/>
    <h4>Personnages impliqué</h4>
    {% for personnage in personnages %}
        <a style="font-size: 16px" href="{{ path('personnages_show', {'id':personnage.id, 'idProjet': projet.id}) }}"> {{ personnage.firstName }} {{ personnage.lastName }}</a> <span class="badge badge-primary">{{ personnage.role }}</span></p>
    {% endfor %}
</div>
<div style="margin:auto; width: 70%">

    <a style="margin-top:20px;" class="btn btn-primary" href="{{ path('chapitre_edit', {'id': chapitre.id, 'idProjet': projet.id}) }}">Modifier le chapitre</a>

    {{ include('chapitre/_delete_form.html.twig') }}
</div>
{% endblock %}
