{% extends 'base.html.twig' %}

{% block title %}Personnages index{% endblock %}

{% block body %}
    <h1>Personnages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Role</th>
                <th>Surname</th>
                <th>Genre</th>
                <th>Age</th>
                <th>Residence</th>
                <th>PlaceBorn</th>
                <th>Profession</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>Description</th>
                <th>Accessoires</th>
                <th>Tenue</th>
                <th>Croyances</th>
                <th>Secrets</th>
                <th>TiqueParole</th>
                <th>Education</th>
                <th>Richesse</th>
                <th>Qualites</th>
                <th>Defauts</th>
                <th>Addictions</th>
                <th>Weakness</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr>
                <td>{{ personnage.id }}</td>
                <td>{{ personnage.firstName }}</td>
                <td>{{ personnage.lastName }}</td>
                <td>{{ personnage.role }}</td>
                <td>{{ personnage.surname }}</td>
                <td>{{ personnage.genre }}</td>
                <td>{{ personnage.age }}</td>
                <td>{{ personnage.residence }}</td>
                <td>{{ personnage.placeBorn }}</td>
                <td>{{ personnage.profession }}</td>
                <td>{{ personnage.taille }}</td>
                <td>{{ personnage.poids }}</td>
                <td>{{ personnage.description }}</td>
                <td>{{ personnage.accessoires }}</td>
                <td>{{ personnage.tenue }}</td>
                <td>{{ personnage.croyances }}</td>
                <td>{{ personnage.secrets }}</td>
                <td>{{ personnage.tiqueParole }}</td>
                <td>{{ personnage.education }}</td>
                <td>{{ personnage.richesse }}</td>
                <td>{{ personnage.qualites }}</td>
                <td>{{ personnage.defauts }}</td>
                <td>{{ personnage.addictions }}</td>
                <td>{{ personnage.weakness }}</td>
                <td>

                    <a href="{{ path('personnages_show', {'id': personnage.id, 'idProjet' : projet.id }) }}">show</a>
                    <a href="{{ path('personnages_edit', {'id': personnage.id, 'idProjet' : projet.id }) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnages_new', {'idProjet' : projet.id }) }}">Create new</a>
{% endblock %}
