{% extends 'base.html.twig' %}

{% block title %}Personnages index{% endblock %}

{% block body %}
<div class="main-chart" style="padding:50px;">
    <div class="border-head">
        <a style="margin-top:20px;" class="btn btn-info" href="{{ path('projets_index') }}"><i class="fa fa-chevron-left"></i> revenir au projet</a>
        <h2 style="margin-bottom:30px;">Personnages présent dans : {{ projet.name }}</h2>
    </div>

    <div class="formulaire">
        <a style="margin-bottom:20px;" class="btn btn-success" href="{{ path('personnages_new', {'idProjet' : projet.id }) }}">Ajouter un personnage</a>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for personnage in personnages %}
                <tr>
                    <td>{{ personnage.firstName }}</td>
                    <td>{{ personnage.lastName }}</td>
                    <td>{{ personnage.role }}</td>
                    <td>

                        <a class="btn btn-info" href="{{ path('personnages_show', {'id': personnage.id, 'idProjet' : projet.id }) }}"><i class="fa fa-eye"></i> Voir sa fiche</a>
                        <a class="btn btn-primary" href="{{ path('personnages_edit', {'id': personnage.id, 'idProjet' : projet.id }) }}"><i class="fa fa-cog"></i> Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="25">
                        <div class="text-center">
                            <p><img src="{{ asset('assets/img/68-searching-with-magnifying-glass copie.png') }}" style="width: 130px">
                                Tu n'as pour le moment aucun personnages</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</div>


{% endblock %}
