{% extends 'base.html.twig' %}

{% block title %}Fiche de : {{ personnage.firstName }} {{ personnage.lastName }}{% endblock %}

{% block body %}
    <div class="border-head" style="margin:auto; width: 70%">
        <a style="margin-top:20px;" class="btn btn-info" href="{{ path('personnages_index', {'idProjet': projet.id}) }}"><i class="fa fa-chevron-left"></i>Revenir aux personnages</a>
        <h2 style="margin-bottom:30px;">Fiche de : {{ personnage.firstName }} {{ personnage.lastName }} <span class="badge badge-primary">{{ personnage.role }}</span></h2>
    </div>

    <div class="formulaire container" style="margin:auto; width: 70%">
        <div class="col-sm-6">
            <div class="row">
                <div class="container">

                        <p><b>Âge :</b> {{ personnage.age }} ans</p>
                        <p><b>Genre :</b> {{ personnage.genre }}</p>
                        <p><b>Taille :</b> {{ personnage.taille }} cm</p>
                        <p><b>Poids :</b> {{ personnage.poids }}</p>
                </div>
            </div>
        </div>
       <div class="col-sm-6">
            <div class="row">
                <div class="container">
                    <p><b>Surnom :</b> {{ personnage.surname }}</p>
                        <p><b>Ville de naissance :</b> {{ personnage.placeBorn }}</p>
                        <p><b>Lieu de résidence :</b> {{ personnage.residence }}</p>
                        <p><b>profession  :</b> {{ personnage.profession }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt">
            <div class="container formulaire" style="margin:auto; width: 70%">
                <h3>Description du personnage</h3>
                <p>{{ personnage.description }}</p>
            </div>
        </div>

        <div class="mt">
            <div class="formulaire container" style="margin:auto; width: 70%">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="container">

                            <p><b>Accessoires :</b> {{ personnage.accessoires }}</p>
                            <p><b>Style vestimentaire :</b> {{ personnage.tenue }}</p>
                            <p><b>Taille :</b> {{ personnage.tiqueParole }}</p>
                            <p><b>Poids :</b> {{ personnage.croyances }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="container">
                            <p><b>Surnom :</b> {{ personnage.qualites }}</p>
                            <p><b>Ville de naissance :</b> {{ personnage.defauts }}</p>
                            <p><b>Lieu de résidence :</b> {{ personnage.addictions }}</p>
                            <p><b>profession  :</b> {{ personnage.weakness }}</p>
                            <p><b>profession  :</b> {{ personnage.education }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin:auto; width: 70%">

                <a class="btn btn-primary" style="margin-top:20px;" href="{{ path('personnages_edit', {'id': personnage.id, 'idProjet': projet.id}) }}">Modifier</a>

                {{ include('personnages/_delete_form.html.twig') }}
            </div>
    </div>
</div>
{% endblock %}
