{% extends 'base.html.twig' %}

{% block title %}Liste des projets de : {{ user.username }}{% endblock %}

{% block body %}
<div class="main-chart" style="padding:50px;">
    <div class="border-head">
        <h2>Tous vos projets  |  <a class="btn btn-success " href="{{ path('projets_new') }}"> Nouveau projet</a></h2>
    </div>
    <div class="row mt">
        {% for projet in projets %}
        <div class="col-md-4 col-sm-4 mb">
            <div class="white-panel pn donut-chart">
                <div class="white-header">
                    <h3><a href="{{ path('projets_show', {'id': projet.id}) }}"> {{ projet.name }}</a></h3>
                </div>
                <span style="font-style: italic;">Créé le : <i>{{ projet.createdAt ? projet.createdAt|date('d-m-Y') : '' }}</i></span>

                <p class="text-justify">{{ projet.resume|truncate(355, true)|raw}}</p>
                <a class="btn btn-info" href="{{ path('projets_show', {'id': projet.id}) }}"><i class="fa fa-eye"></i> Voir</a>
                <a class="btn btn-primary" href="{{ path('projets_edit', {'id': projet.id}) }}"><i class="fa fa-cog"></i> Modifier</a>
            </div>
        </div>
            {% else %}
                <div class="text-center">
                        <img src="{{ asset('assets/img/68-searching-with-magnifying-glass copie.png') }}" style="width: 400px">
                        <h2>Tu n'as pour le moment aucun projet</h2>
                </div>
            {% endfor %}

    </div>
</div>


{% endblock %}
